---
layout: compress
---

{% include head.html %}

<main>

    {% include header.html %}

    <article>
        <h1 style="text-align: center;">{{ page.title }}</h1>
        <p class="subtitle" style="text-align: center;">
            {{ page.date | date: "%b %-d, %Y" }}
            &emsp;
            <span style="display:inline; margin-left: 20px;">
                [{% capture category_name %}{{ page.category }}{% endcapture %}
                <a href="/category/{{ category_name }}">{{ category_name }}</a>
                ]
            </span>
        </p>

        <div style="text-align: center;">
            {{ page.content }}
        </div>

        <hr>

        <p><a href="{{ site.baseurl }}/articles">← Back to all articles</a></p>
    </article>

</main>

{% include footer-post.html %}
