---
layout: compress
---

{% include head.html %}

<main style="text-align: center;">

    {% include head.html %}

    <article style="display: inline-block; text-align: left; margin: 0 auto; max-width: 1000px;">
        <h1 style="text-align: center;">{{ page.title }}</h1>
        <p class="subtitle">
            {{ page.date | date: "%b %-d, %Y" }}
            &emsp;
            <span style="display:inline; margin-left: 20px;">
                [{% capture category_name %}{{ page.category }}{% endcapture %}
                <a href="/category/{{ category_name }}">{{ category_name }}</a>
                ]
            </span>
        </p>

        {{ page.content }}

        <hr>

        <p><a href="{{ site.baseurl }}/articles">← Back to all articles</a></p>
    </article>

    {% include footer-post.html %}

</main>
